version: '3.8'
services:

  app:
    container_name: permissions-app
    build:
      context: './conf'
      args:
        - COMPOSER_NO_INTERACTION=0
    image: permissions-app
    volumes:
      - ./src:/app
    working_dir: /app
    environment:
      - LOG_STDOUT=/dev/null
      - LOG_STDERR=/dev/null
    restart: unless-stopped

  nginx:
    container_name: permissions-nginx
    image: nginx
    ports:
      - 777:80
    volumes:
      - ./src:/app
      - ./conf/nginx/default.conf:/etc/nginx/conf.d/default.conf
    working_dir: /app
    depends_on:
      - app
    tty: true
    restart: unless-stopped

  db:
    image: mysql:5.7
    container_name: permissions-db
    environment:
      MYSQL_DATABASE: permissions_task
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
      TZ: UTC-0
    ports:
      - 33067:3306
    volumes:
      - ./data/mysql:/var/lib/mysql:rw
    command: "--innodb_use_native_aio=0"
    restart: unless-stopped
